<meta charset="utf-8">
<title>Score</title>
<link rel="stylesheet" href="/assert/css/bootstrap.min.css">
<link rel="stylesheet" href="/assert/css/bulma.min.css">
<script src="/assert/js/jquery.min.js"></script>
<script src="/assert/js/bootstrap.min.js"></script>
<script defer src="/assert/js/font-awsome-all.js"></script>
<script src="/socket.io/socket.io.js"></script>