<div class="row my-nav">
  <div class="col-xs-1">
    <button class="btn btn-default" id="init">
      初始化
    </button>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-default" id="begin">
      开始
    </button>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-default" id="done">
      打分
    </button>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-default" id="next">
      下一个
    </button>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-default" id="end">
      结束
    </button>
  </div>
  <div class="col-xs-1 pull-right" id="timer_count">
    <span><%= data.WAIT_TIME %></span>
  </div>
</div>