<!DOCTYPE html>
<html>

<head>
  <%- include('./components/header') %>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="">
    <button class="btn btn-default">
      <a href="/admin">管理员</a>
    </button>
    <button class="btn btn-default">
      <a href="/judge">裁判</a>
    </button>
    <button class="btn btn-default">
      <a href="/show">观众</a>
    </button>
  </div>

  <%- include('./components/footer') %>