<!DOCTYPE html>
<html>

<head>
  <%- include('./components/header') %>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="entry">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/admin">管理员入口</a>
          </h1>
        </div>
      </div>
    </section>
    <section class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/judge">裁判入口</a>
          </h1>
        </div>
      </div>
    </section>
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/show">观众入口</a>
          </h1>
        </div>
      </div>
    </section>
  </div>

  <%- include('./components/footer') %>