<!DOCTYPE html>
<html>

<head>
  <%- include('./components/header') %>
    <link rel="stylesheet" href="css/show.css">
    <link rel="stylesheet" href="css/nav.css">
</head>

<body>

    <%- include('./components/nav') %>
    <div id="projects">
      <div class="jumbotron project">
        <h1></h1>
        <p></p>
      </div>
      <div class="score">
        <h1 class="text-danger"></h1>
      </div>
    </div>
    <div id="judges">
      <!-- <div class="judge">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success head">
            1号评委
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            答辩
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            界面
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            功能
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            代码
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            团队
          </li>
          <li class="list-group-item">
            <span class="badge">0</span>
            总分
          </li>
        </ul>
      </div> -->
    </div>

    <script src="js/show.js"></script>
    <%- include('./components/footer') %>