<!DOCTYPE html>
<html>

<head>
  <%- include('./components/header') %>
    <link rel="stylesheet" href="css/show.css">
    <link rel="stylesheet" href="css/nav.css">
</head>

<body>

    <%- include('./components/nav') %>
    <div id="projects">
      <div class="jumbotron project">
        <h1></h1>
        <p></p>
      </div>
      <div class="score">
        <h1 class="text-danger"></h1>
      </div>
    </div>
    <div id="judges">
    </div>

    <script src="js/data.js"></script>
    <script src="js/timer.js"></script>
    <script src="js/show.js"></script>
    <%- include('./components/footer') %>