#myTabs {
  width: 50%;
  margin: 100px auto;
  padding: 10px;
  border: 2px solid #ccc;
}
#myTabs .nav-tabs {
  margin-left: 10%;
  margin-right: 10%;
}
#myTabs .tab-content .form-group {
  margin-left: 10%;
  margin-right: 10%;
}
